<div class=row>
  <div class='sidebar'>
    <h4>{{#link-to 'index'}}Home{{/link-to}}</h4>
    <h4>{{#link-to 'posts'}}Posts{{/link-to}}</h4>
    <h4>{{#link-to 'coffee'}}Coffee{{/link-to}}</h4>
    <h4>{{#link-to 'about'}}About{{/link-to}}</h4>
    <h4>{{#link-to 'contact'}}Contact{{/link-to}}</h4>

  </div>
    {{outlet}}
</div>
