<div class='coffee'>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'coffee.location'}}Location{{/link-to}}</li>
      <li>{{#link-to 'coffee.type'}}Type{{/link-to}}</li>
      <li>{{#link-to 'coffee.price'}}Price{{/link-to}}</li>
    </ul>
  </nav>
  {{outlet}}
</div<
