<div class='main'>
  <h1>Welcome to my first Ember.js project!</h1>

  <p>I've been in the process of learning the in's and out's of the Ember.js framework. Here is my first try at it.</p>
  <p>Please use the side bar to look around at what I've been doing</p>
</div>
